.menu{
    padding: 15px 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--deep-yellow);
    font-family: 'Rowdies', cursive;
    font-size: 18px;
}

.brand{
    text-decoration: none;
    font-size: 24px;
    color: var(--deep-blue);
    display: flex;
    align-items: center;
    font-family: 'Fredoka One', cursive;
}

.brand img{
    margin: 0 10px;
}

.link-container{
    display: flex;
    list-style: none;
}

.link-container a{
    margin: 0px 20px;
    text-decoration: none;
    color: var(--deep-blue);
    transition: 300ms;
}

.link-container a:hover{
    color: var(--snow);
}